@charset "UTF-8";
 #login{
			width:400px;
			height:280px;
			position:absolute;
			left: 50%;
			top: 50%;
			margin-left:-200px;
			margin-top:-140px;
			border:1px;
			background-color:while;	
			align:center;
			
}	
#form{
			width:300px;
			height:160px;
			position:relative;
   			 left:50%;
  			  top:50%;
  			  margin-left:-150px;
  			  margin-top:-80px;
	}
	

	.th{
	
	}
	
	